body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;	
	font-size: 1.25em;
    background: url("/images/background.png") repeat;
}

.wrapper {
    margin: 0 auto;
    max-width: 60vw;
}

h1 {
    color: #323e4e;
    text-align: center;
}

.slider {  
    padding: 5vh 5vw;  
    background: #cfd0d3;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
    overflow: hidden;  
}

.slides input {
    display: none;
}

.img {
    display: flex;
    width: 400%;
    transition: all 1s ease-out 0s;  
}

.slide {
    width: 25%;
}

img {
    width: 100%; 
}

.bottom-content {
    display: flex;
    padding-top: 1rem;
}
  
.wrapper-text {
    overflow: hidden;
}
  
.text {
    display: flex;
    width: 400%;
    transition: all 1s ease-out 0s;
}
  
.title {
    width: 25%;  
    padding: 0.2rem 0;
}
  
.controls {
    display: flex;
}
  
.controls label {
    cursor: pointer;  
    padding:  10px;
}
  
label .button {  
    background: #a0a0a0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;  
}
  
label:hover .button {  
    background: #fff;
}
  
label:active .button {
    transform: scale(1.2);
    background: #323e4e;
}